{% extends "base.html" %}

{% block navigation %}
{% endblock %}
{% load static %}

{% block title %}Post | {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static "my_blog_app/appStyle.css" %}">
{% endblock %}


{% block content %}
    <div class="container">

        <div class="post_img mb-4">
            <img src="{% static "images/blackgirl.jpg" %}" class="post-image" alt="a smiling black girl with a scarf">
        </div>
        <div id="page_content" class="card">
            <h1>{{ post.title }}</h1>
            <div class="container content-body text-center">
                <p class="my-content">{{ post.body}}</p>
            </div>
            <div class="text-center">
                 <p>By {{ post.author }}</p>
                <p>{{ post.date_created | date:"Y-M-l" }}</p>
            </div>

        </div>
    </div>

     {% include "my_blog_app/includes/footer.html" %}
{% endblock %}
